streamlit
python-dotenv
langchain_community
langchain
langchain-text-splitters
langchain_groq
faiss-cpu
pandas
numpy
PyPDF2
pdfplumber
tiktoken
openai
groq
pillow
PyYAML
requests
PyMuPDF
PyDrive2
google-cloud-firestore
firebase-admin
# Add any other dependencies below as needed
